body,html{
    margin: 0px;
    padding-left: 120px;
    padding-right:120px ;
    background-color: white;
    
}



h1, h2,p {
    color:black;
}
header{
    width: 100%;
    height: 70px;
    background-color:black;
}
.name{
    position: absolute;
    padding: 5px;
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
.nav1{width: auto;
    float: right;
    margin-top: 8px;

}
.li{
    display: inline-block;
    padding: 15px 30px;
   
}
a{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25; 
}
a:hover{
    color: teal;
    transition: 0.5s;
}

.pg1{
    
    background-color:white;
    width: 100%;
    height: 600px;
    background-image: url(/img/pic7.jpg);
    background-position: center;
  
    background-size: cover;

    

}

.hello{
    text-align: center;
    font-size: 500%;

  
}
.underhello{
    text-align: center;
    font-size: 230%;
   
    
}
.pg2{
    
    width: 100%;
    height: 400px;
    
    
}

.s2{width: 50%;
    height: 400px;
    float: left;
    font-size: 120%;
    background-color: thistle;
  
}
.s3{
    width: 50%;
    height: 400px;
    float: right;
    font-size: 120%;
    background-color: yellow;
    
   
}
.se3{
    background-color: yellowgreen;
}
footer{
    background-color: coral;
    text-align: center;
}





